<%- include('./partials/header.ejs') %>
  <h1>Update Job</h1>
    <form action="/jobs/<%= job.id %>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%=job.title%>"/>
        location: <input type="text" name="location" value="<%=job.location %>"/>
        date: <input type="text" name="date" value="<%=job.date %>"/>
        interview: 
        <input type="checkbox" name="interview"
            <% if(job.interview === true) { %>
                checked
            <% } %>
        />
        <br>
        <input type="submit" name="" value="Submit Changes"/>
    </form>
    <%- include('./partials/footer.ejs') %>