<%- include('./partials/header.ejs') %>
  <div class="shadow p-3 mb-5 bg-white rounded text-center">
    <h1>Job: <%= job.title %> </h1>

      <p><%= job.title %> </p>
      <p><%= job.date %> </p>

      <% if(job.interview === true) { %>
        <p> Got interview </p>
      <% } else { %>
        <p> no interview </p>
      <% } %>

      

   
    <a href="/jobs/<%=job.id%>/edit">
      <button>EDIT</button>
    </a>
  </div>
  <%- include('./partials/footer.ejs') %>